<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716071583511-r76db5rkkd3joivd1e4l9jq4gekkccef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716071583511-r76db5rkkd3joivd1e4l9jq4gekkccef</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJ3JX50ba1JpIlNLmgyUrYjQi9-FB-Zo</string>
	<key>GCM_SENDER_ID</key>
	<string>716071583511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ArtyomMihailovich.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b5e53</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b5e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716071583511:ios:a8bf86756990a8f6410152</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-b5e53.firebaseio.com</string>
</dict>
</plist>